<h2>Forum Topics</h2>

<% @topics.each do |topic| %>
  <a href=<%= topic_posts_path(topic.id) %>>
    <div class="callout">
      <h3><%= topic.name %></h3>
      <p><%= topic.description %></p>
    </div>
  </a>
<% end %>
