<h1>Welcome to our site!</h1>
<h2>Discussion Topics</h2>

<% @topics.each do |topic| %>
<div>
  <h3><%= link_to topic.name, topic_posts_path(topic.id) %></h3>
  <p><%= topic.description %></p>
</div>
<% end %>
