body {
  background-color: #FFFFF3;
}

.top-bar {
  background-color: #928C6F;
}

ul.menu {
    background-color: #928C6F;
}

.index-image {
  margin: auto;
  display: block;
  width: 95%;
}

.card-divider {
  background-color: #D1EFB5;
}

a {
  color: black;
}

.mint {
  background-color: #D1EFB5;
}
